<form method="POST" action="/login" class="col-5 p-3 h-auto">
    <div class="p-3">
        <h1>
            <%= label %>
        </h1>
    </div>
    <div class="p-3">
        <label for="exampleFormControlInput1" class="form-label">Email address</label>
        <input type="email" class="form-control" name="user_email" id="exampleFormControlInput1" placeholder="name@example.com">
    </div>
    <div class="p-3">
        <label for="userpassword" class="form-label">Password</label>
        <input type="password" class="form-control" name=user_password id="userpassword" placeholder="password">
    </div>
    <div class="p-3">
        <button type="submit" class="btn btn-primary">Login</button>
    </div>
</form>