<form method="POST" action="/adding" autocomplete="off" class="container-fluid d-flex justify-content-center align-item-center gap-2">
    <input type="text" name="newtask" class="p-3" placeholder=""/>
    <button type="submit" name="listbtn" value=<%= Title %> class="border-0 bg-primary p-3 rounded-2 text-white">Add</button>
</form>