<%- include('partials/core/header') %>

<div class="container-3 d-flex justify-content-center align-items-center">
    <div class="container d-flex justify-content-center align-items-center flex-row">
       
        <%- include('partials/model/signup_form') %>

        <a href="/login"> Login </a> 

    </div>
</div>
    
<%- include('partials/core/footer') %>
